@import 'variables';

// npm run sass:watch

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  hyphens: auto;
  word-wrap: break-word;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1172px;
  width: 100%;
}

/* Ширина страницы */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
}

.btn {
  @media (max-width: $sm-tablet) {
    width: 100%;
    text-align: center;
    max-width: 400px;
  }

  padding: 15px 31px;
  display: inline-block;
  font-size: 13px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $blue;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

  &:hover {
    background-color: $white;
    color: #2a2b30;
    border: 1px solid #6f6d7b;
  }

  &--white {
    color: #2a2b30;
    background-color: #fff;
    border: 1px solid #6f6d7b;

    &:hover {
      background-color: $blue;
      color: $white;
      border: 1px solid #fff;
    }
  }
}

.title-h2 {
  @media (max-width: $sm-tablet) {
    margin-bottom: 20px;
    font-size: 18px;
  }
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 600;
  color: $white;
  text-transform: uppercase;

  span {
    color: $blue;
  }
}

.header {
   @media (max-width: $sm-tablet) {
      padding: 15px 0;
     font-size: 24px;
    }
  padding: 33.5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 16, 29, 0.9);
  color: #fff;
  z-index: 1;

  &__burger {
   padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    z-index: 30;

    @media (max-width: $tablet) {
      display: flex;
    }

    display: none;

    span {
      display: block;
      width: 40px;
      height: 4px;
      background: #bbbbbb;
      transition: transform 0.2s ease-in-out;
    }
  }

  &__burger.active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      &:nth-child(3) {
        transform: translateY(-20px) rotate(-45deg);
      }
    }
  }

  &__container {
   @media (max-width: $sm-tablet) {
      gap: 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  &__logo {
   @media (max-width: $sm-tablet) {
      font-size: 24px;
   }

    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    color: $white;

    span {
      color: $blue;
    }
  }
}

.nav {
  @media (max-width: $tablet) {
    display: none;

    &.active {
      display: block;
      position: absolute;
      transform: translateX(0);
      left: 0px;
      z-index: 20;
      background: #fff;
      top: 0;
      height: auto;
      min-height: 400px;
      padding: 70px 50px;

      & .nav__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      & .nav__link {
        color: $black;
        font-size: 18px;

        &:hover {
          color: $blue;
        }
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 60px;
    justify-content: right;
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;

    &.active {
      color: $blue;
    }

    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
}

.main {
  flex: 1;
}

.promo {
  @media (max-width: $sm-desktop) {
    padding: 171px 0 122px;
  }
  @media (max-width: $sm-tablet) {
    padding: 131px 0 82px;
    background-position: 60%;
  }

  padding: 203px 0 202px;
  background: url('/for_employcity/img/employcity_bg_promo.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__main-title {
    @media (max-width: $sm-desktop) {
      margin-bottom: 60px;
      font-size: 44px;
      max-width: 80%;
    }
    @media (max-width: $sm-tablet) {
      margin-bottom: 40px;
      font-size: 24px;
      max-width: none;
    }

    margin-bottom: 80px;
    font-size: 48px;
    font-weight: 700;
    max-width: 780px;
    color: $black;
    text-transform: uppercase;
    text-wrap: balance;

    span {
      color: $blue;
    }
  }

  &__title {
    @media (max-width: $sm-tablet) {
      font-size: 14px;
    }

    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    color: $black;
  }

  &__lists {
    @media (max-width: $sm-tablet) {
      margin-bottom: 60px;
    }
    margin-bottom: 80px;
    list-style: '-';
  }

  &__list {
    @media (max-width: $sm-tablet) {
      margin-left: 15px;
      font-size: 14px;
    }

    margin-left: 20px;
    padding-left: 11px;
    font-size: 20px;
    color: $black;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__btns {
    @media (max-width: $sm-tablet) {
      flex-direction: column;
      gap: 10px;
    }
    display: flex;
    gap: 30px;
  }
}

.order {
  @media (max-width: $sm-desktop) {
    padding: 81px 0 121px;
  }
  @media (max-width: $sm-tablet) {
    padding: 51px 0 71px;
  }

  padding: 121px 0 151px;
  background: url('/for_employcity/img/employcity_bg_form.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;

  &__title {
    text-align: center;
  }
  &__descr {
    @media (max-width: $sm-tablet) {
      margin-bottom: 60px;
      font-size: 14px;
    }
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 600px;
    font-size: 18px;
    color: #bbbbbb;
    text-align: center;
  }
}

.steps {
  @media (max-width: $sm-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $sm-tablet) {
    grid-template-columns: auto;
  }

  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 60px;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child)::after {
      @media (max-width: $sm-desktop) {
        content: none;
      }

      content: '';
      position: absolute;
      width: 60%;
      height: 1px;
      border-top: 9px dotted #c4c4c4;
      left: 88%;
      top: 30%;
    }
    &:nth-child(5n)::after {
      content: none; // убираем псевдоэлемент
    }
  }

  &__icon {
    @media (max-width: $sm-tablet) {
      width: 80px;
      height: 80px;
    }
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $blue;
    border: 5px solid #286690;
  }

  &__text {
    text-align: center;
  }
}

.form {
  @media (max-width: $sm-tablet) {
    gap: 15px;
  }
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__block-top {
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);

      & > :nth-child(3n) {
        grid-column: 1 / -1;
      }
    }

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    & > :nth-child(4n) {
      @media (max-width: $tablet) {
        grid-column: auto;
      }

      grid-column: 1 / -1;
    }
    @media (max-width: $sm-tablet) {
      grid-template-columns: auto;
      gap: 15px;
    }
  }

  &__block-bottom {
    @media (max-width: $sm-tablet) {
      grid-template-columns: auto;
    }
    display: grid;
    gap: 30px;
    grid-template-columns: 2fr 1fr;
  }

  &__input {
    padding: 12px 10px;
    font-size: 18px;
    color: #272733;
    border-radius: 4px;
    border: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.85);

    &::placeholder {
      font-size: 18px;
      color: #272733;
    }
  }
  &__progress-label {
    font-size: 14px;
    color: #ccc;
    text-align: left;
  }

  &__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
  }
  &__progress-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__slider {
    width: 100%;
  }
  &__slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to right, #0099ff 75%, #ddd 75%);
  }

  &__slider::-moz-range-progress {
    background-color: #0099ff;
  }

  &__slider::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 5px;
    background: #ddd;
  }

  &__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: $blue;
    border: 3px solid #286690;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
  }

  &__slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-color: $blue;
    border: 3px solid #286690;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &__slider::-ms-track {
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    color: transparent;
  }

  &__slider::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #0099ff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &__slider:hover::-webkit-slider-thumb,
  &__slider:hover::-moz-range-thumb,
  &__slider:hover::-ms-thumb {
    background-color: #007acc;
  }

  &__progress-value {
    font-size: 14px;
    color: #ccc;
  }

  &__file-upload {
    display: flex;
    align-items: center;
  }

  &__file-input {
    display: none;
  }

  &__file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $white;
    border-radius: 3px;
    border: 2px solid $blue;
    width: 100%;
    text-align: center;
    color: #333;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover {
      background-color: $blue;
      color: $white;

      svg path {
        fill: $white;
      }
    }

    & svg path {
      fill: $black;
      transition: fill 0.3s ease-in-out;
    }
  }

  &__submit {
    align-self: center;
    max-width: 370px;
  }
  &__select {
    position: relative;
    width: 100%;
    cursor: pointer;

    &-title {
      display: flex;
      align-items: center;
      //   background-color: #1a1a2e;
      color: $black;
      border-radius: 5px;

      &::after {
        content: '';
        margin-left: auto;
        width: 6px;
        height: 6px;
        border: solid $black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        transition: transform 0.3s;
      }
    }

    &[data-state='active'] {
      &-title::after {
        transform: rotate(-135deg);
      }
      .form__select-content {
        display: block;
        max-height: 180px;
        padding-right: 5px;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 7px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $blue;
          border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #286690;
        }
        &::-webkit-scrollbar-track {
          background-color: #3d4050;
          border-radius: 3px;
        }

        // scrollbar-width: thin;
        // scrollbar-color: $blue #3D4050;
      }
    }

    &-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #1a1a2e;
      border: 1px solid #333;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      z-index: 10;
    }

    &-input {
      display: none;

      &:checked + .form__select-label {
        background-color: #3a3a5e;
        color: #ffffff;
      }
    }

    &-label {
      display: block;
      padding: 10px 15px;
      color: #d9d9d9;
      transition: background-color 0.3s;

      &:hover {
        background-color: #333;
        color: #ffffff;
      }
    }
  }
}

.footer {
  background-color: #3d4050;
  color: #fff;
  padding: 31px 0;
  text-align: center;

  &__container {
    @media (max-width: $sm-desktop) {
      flex-direction: column;
      gap: 30px;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-size: 16px;
  }

  &__copy {
    @media (max-width: $sm-desktop) {
      padding: 0;
    }

    padding-right: 40px;
    p {
      font-size: 13px;
      color: $white;
    }
  }

  .pay-system {
    @media (max-width: $sm-desktop) {
      padding: 0;
      border: none;
      justify-content: center;
    }
    @media (max-width: $sm-tablet) {
      gap: 10px;
    }
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    max-width: 500px;
    border-right: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;

    &__item {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &__text {
      font-size: 13px;
      color: #c3c3c3;
    }
  }

  .links {
    @media (max-width: $sm-desktop) {
      padding: 0;
      border: none;
      justify-content: center;
    }
    @media (max-width: $sm-tablet) {
      gap: 10px;
    }

    padding-left: 40px;
    display: flex;
    gap: 38px;
    max-width: 370px;
    flex-wrap: wrap;

    &__item {
      display: flex;
      gap: 10px;
      text-decoration: none;
      align-items: center;
    }

    &__text {
      color: $white;
      font-size: 13px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
